.meta-table {
  font-size: 0.75rem;
  width: 100%;
  background-color: var(--dark-bg-surface-color);
}

.meta-table tr {
  height: 1.25rem;

  &:hover {
    background-color: var(--dark-bg-overlay-color);
  }
}

.meta-table td {
  padding: 0.25rem 1rem;
}

.meta-table,
th,
td {
  border-bottom: 1px solid var(--dark-bg-overlay-color);
  border-collapse: collapse;
}
